body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  height: 100vh;
  margin: 0;
  padding-top: 80px;
}
.red-btn{
    background-color: red;
    color: black;
}
.Yellow-btn{
    background-color: yellow;
    color: black;
}
.Green-btn{
    background-color: green;
    color: black;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

p {
  font-size: 20px;
  font-weight: bold;
}